<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.mapper.ProjectFundsMapper">

    <resultMap id="ProjectFundsResult" type="com.ruoyi.project.domain.ProjectFunds">
        <id property="fundsId" column="funds_id" jdbcType="BIGINT"/>
        <result property="projectId" column="project_id" jdbcType="BIGINT"/>
        <result property="totalFundsAll" column="total_funds_all" jdbcType="DECIMAL"/>
        <result property="totalFundsZx" column="total_funds_zx" jdbcType="DECIMAL"/>
        <result property="totalFundsZxDk" column="total_funds_zx_dk" jdbcType="DECIMAL"/>
        <result property="zctzDone" column="zctz_done" jdbcType="DECIMAL"/>
        <result property="zxtzDone" column="zxtz_done" jdbcType="DECIMAL"/>
        <result property="zcGspt" column="zc_gspt" jdbcType="DECIMAL"/>
        <result property="zxGslc" column="zx_gslc" jdbcType="DECIMAL"/>
        <result property="sbfZx" column="sbf_zx" jdbcType="DECIMAL"/>
        <result property="totalFundsZxZj" column="total_funds_zx_zj" jdbcType="DECIMAL"/>
        <result property="totalFundsZxJj" column="total_funds_zx_jj" jdbcType="DECIMAL"/>
        <result property="totalFundsZc" column="total_funds_zc" jdbcType="DECIMAL"/>
        <result property="sbfZc" column="sbf_zc" jdbcType="DECIMAL"/>
        <result property="totalFundsZcZj" column="total_funds_zc_zj" jdbcType="DECIMAL"/>
        <result property="totalFundsZcJj" column="total_funds_zc_jj" jdbcType="DECIMAL"/>
        <result property="sbfZxZj" column="sbf_zx_zj" jdbcType="DECIMAL"/>
        <result property="sbfZcZj" column="sbf_zc_zj" jdbcType="DECIMAL"/>
        <result property="sbfGzsbZxZj" column="sbf_gzsb_zx_zj" jdbcType="DECIMAL"/>
        <result property="sbfGzsbZcZj" column="sbf_gzsb_zc_zj" jdbcType="DECIMAL"/>
        <result property="sbfSzsbZxZj" column="sbf_szsb_zx_zj" jdbcType="DECIMAL"/>
        <result property="sbfSzsbZcZj" column="sbf_szsb_zc_zj" jdbcType="DECIMAL"/>
        <result property="sbfSbsjgzZxZj" column="sbf_sbsjgz_zx_zj" jdbcType="DECIMAL"/>
        <result property="sbfSbsjgzZcZj" column="sbf_sbsjgz_zc_zj" jdbcType="DECIMAL"/>
        <result property="sbfSbzlZxZj" column="sbf_sbzl_zx_zj" jdbcType="DECIMAL"/>
        <result property="sbfSbzlZcZj" column="sbf_sbzl_zc_zj" jdbcType="DECIMAL"/>
        <result property="ywfZxZj" column="ywf_zx_zj" jdbcType="DECIMAL"/>
        <result property="ywfZcZj" column="ywf_zc_zj" jdbcType="DECIMAL"/>
        <result property="ywfClfZxZj" column="ywf_clf_zx_zj" jdbcType="DECIMAL"/>
        <result property="ywfClfZcZj" column="ywf_clf_zc_zj" jdbcType="DECIMAL"/>
        <result property="ywfZlfZxZj" column="ywf_zlf_zx_zj" jdbcType="DECIMAL"/>
        <result property="ywfZlfZcZj" column="ywf_zlf_zc_zj" jdbcType="DECIMAL"/>
        <result property="ywfSjybcjfZxZj" column="ywf_sjybcjf_zx_zj" jdbcType="DECIMAL"/>
        <result property="ywfSjybcjfZcZj" column="ywf_sjybcjf_zc_zj" jdbcType="DECIMAL"/>
        <result property="ywfCshyjgfZxZj" column="ywf_cshyjgf_zx_zj" jdbcType="DECIMAL"/>
        <result property="ywfCshyjgfZcZj" column="ywf_cshyjgf_zc_zj" jdbcType="DECIMAL"/>
        <result property="ywfRldlfZxZj" column="ywf_rldlf_zx_zj" jdbcType="DECIMAL"/>
        <result property="ywfRldlfZcZj" column="ywf_rldlf_zc_zj" jdbcType="DECIMAL"/>
        <result property="ywfBgfZxZj" column="ywf_bgf_zx_zj" jdbcType="DECIMAL"/>
        <result property="ywfBgfZcZj" column="ywf_bgf_zc_zj" jdbcType="DECIMAL"/>
        <result property="ywfYscbfZxZj" column="ywf_yscbf_zx_zj" jdbcType="DECIMAL"/>
        <result property="ywfYscbfZcZj" column="ywf_yscbf_zc_zj" jdbcType="DECIMAL"/>
        <result property="ywfZscqswfZxZj" column="ywf_zscqswf_zx_zj" jdbcType="DECIMAL"/>
        <result property="ywfZscqswfZcZj" column="ywf_zscqswf_zc_zj" jdbcType="DECIMAL"/>
        <result property="ywfClsyfZxZj" column="ywf_clsyf_zx_zj" jdbcType="DECIMAL"/>
        <result property="ywfClsyfZcZj" column="ywf_clsyf_zc_zj" jdbcType="DECIMAL"/>
        <result property="ywfChlfZxZj" column="ywf_chlf_zx_zj" jdbcType="DECIMAL"/>
        <result property="ywfChlfZcZj" column="ywf_chlf_zc_zj" jdbcType="DECIMAL"/>
        <result property="ywfHyhwfZxZj" column="ywf_hyhwf_zx_zj" jdbcType="DECIMAL"/>
        <result property="ywfHyhwfZcZj" column="ywf_hyhwf_zc_zj" jdbcType="DECIMAL"/>
        <result property="ywfGnxzfZxZj" column="ywf_gnxzf_zx_zj" jdbcType="DECIMAL"/>
        <result property="ywfGnxzfZcZj" column="ywf_gnxzf_zc_zj" jdbcType="DECIMAL"/>
        <result property="ywfGjhzjlfZxZj" column="ywf_gjhzjlf_zx_zj" jdbcType="DECIMAL"/>
        <result property="ywfGjhzjlfZcZj" column="ywf_gjhzjlf_zc_zj" jdbcType="DECIMAL"/>
        <result property="ywfHyclgjhzyjlfZxZj" column="ywf_hyclgjhzyjlf_zx_zj" jdbcType="DECIMAL"/>
        <result property="ywfHyclgjhzyjlfZcZj" column="ywf_hyclgjhzyjlf_zc_zj" jdbcType="DECIMAL"/>
        <result property="ywfHyclgjhzyjlfHyfZxZj" column="ywf_hyclgjhzyjlf_hyf_zx_zj" jdbcType="DECIMAL"/>
        <result property="ywfHyclgjhzyjlfHyfZcZj" column="ywf_hyclgjhzyjlf_hyf_zc_zj" jdbcType="DECIMAL"/>
        <result property="ywfHyclgjhzyjlfClfZxZj" column="ywf_hyclgjhzyjlf_clf_zx_zj" jdbcType="DECIMAL"/>
        <result property="ywfHyclgjhzyjlfClfZcZj" column="ywf_hyclgjhzyjlf_clf_zc_zj" jdbcType="DECIMAL"/>
        <result property="ywfHyclgjhzyjlfGjhzfZxZj" column="ywf_hyclgjhzyjlf_gjhzf_zx_zj" jdbcType="DECIMAL"/>
        <result property="ywfHyclgjhzyjlfGjhzfZcZj" column="ywf_hyclgjhzyjlf_gjhzf_zc_zj" jdbcType="DECIMAL"/>
        <result property="ywfCbwxxxcbzscqswfZxZj" column="ywf_cbwxxxcbzscqswf_zx_zj" jdbcType="DECIMAL"/>
        <result property="ywfCbwxxxcbzscqswfZcZj" column="ywf_cbwxxxcbzscqswf_zc_zj" jdbcType="DECIMAL"/>
        <result property="ywfCbwxxxcbzscqswfZscqswfZxZj" column="ywf_cbwxxxcbzscqswf_zscqswf_zx_zj" jdbcType="DECIMAL"/>
        <result property="ywfCbwxxxcbzscqswfZscqswfZcZj" column="ywf_cbwxxxcbzscqswf_zscqswf_zc_zj" jdbcType="DECIMAL"/>
        <result property="ywfCbwxxxcbzscqswfYsdyzzfZxZj" column="ywf_cbwxxxcbzscqswf_ysdyzzf_zx_zj" jdbcType="DECIMAL"/>
        <result property="ywfCbwxxxcbzscqswfYsdyzzfZcZj" column="ywf_cbwxxxcbzscqswf_ysdyzzf_zc_zj" jdbcType="DECIMAL"/>
        <result property="ywfCbwxxxcbzscqswfWxsjkfZxZj" column="ywf_cbwxxxcbzscqswf_wxsjkf_zx_zj" jdbcType="DECIMAL"/>
        <result property="ywfCbwxxxcbzscqswfWxsjkfZcZj" column="ywf_cbwxxxcbzscqswf_wxsjkf_zc_zj" jdbcType="DECIMAL"/>
        <result property="ywfCbwxxxcbzscqswfXxcbfZxZj" column="ywf_cbwxxxcbzscqswf_xxcbf_zx_zj" jdbcType="DECIMAL"/>
        <result property="ywfCbwxxxcbzscqswfXxcbfZcZj" column="ywf_cbwxxxcbzscqswf_xxcbf_zc_zj" jdbcType="DECIMAL"/>
        <result property="lwfZxZj" column="lwf_zx_zj" jdbcType="DECIMAL"/>
        <result property="lwfZcZj" column="lwf_zc_zj" jdbcType="DECIMAL"/>
        <result property="lwfZjzxfZxZj" column="lwf_zjzxf_zx_zj" jdbcType="DECIMAL"/>
        <result property="lwfZjzxfZcZj" column="lwf_zjzxf_zc_zj" jdbcType="DECIMAL"/>
        <result property="lwfRylwfZxZj" column="lwf_rylwf_zx_zj" jdbcType="DECIMAL"/>
        <result property="lwfRylwfZcZj" column="lwf_rylwf_zc_zj" jdbcType="DECIMAL"/>
        <result property="clfZxZj" column="clf_zx_zj" jdbcType="DECIMAL"/>
        <result property="clfZcZj" column="clf_zc_zj" jdbcType="DECIMAL"/>
        <result property="clfClfZxZj" column="clf_clf_zx_zj" jdbcType="DECIMAL"/>
        <result property="clfClfZcZj" column="clf_clf_zc_zj" jdbcType="DECIMAL"/>
        <result property="kyhdfZxZj" column="kyhdf_zx_zj" jdbcType="DECIMAL"/>
        <result property="kyhdfZcZj" column="kyhdf_zc_zj" jdbcType="DECIMAL"/>
        <result property="kyhdfZlZxZj" column="kyhdf_zl_zx_zj" jdbcType="DECIMAL"/>
        <result property="kyhdfZlZcZj" column="kyhdf_zl_zc_zj" jdbcType="DECIMAL"/>
        <result property="kyhdfCshyjgZxZj" column="kyhdf_cshyjg_zx_zj" jdbcType="DECIMAL"/>
        <result property="kyhdfCshyjgZcZj" column="kyhdf_cshyjg_zc_zj" jdbcType="DECIMAL"/>
        <result property="kyhdfBgZxZj" column="kyhdf_bg_zx_zj" jdbcType="DECIMAL"/>
        <result property="kyhdfBgZcZj" column="kyhdf_bg_zc_zj" jdbcType="DECIMAL"/>
        <result property="kyhdfSjybcjZxZj" column="kyhdf_sjybcj_zx_zj" jdbcType="DECIMAL"/>
        <result property="kyhdfSjybcjZcZj" column="kyhdf_sjybcj_zc_zj" jdbcType="DECIMAL"/>
        <result property="kyhdfYscbZxZj" column="kyhdf_yscb_zx_zj" jdbcType="DECIMAL"/>
        <result property="kyhdfYscbZcZj" column="kyhdf_yscb_zc_zj" jdbcType="DECIMAL"/>
        <result property="kyhdfZscqswZxZj" column="kyhdf_zscqsw_zx_zj" jdbcType="DECIMAL"/>
        <result property="kyhdfZscqswZcZj" column="kyhdf_zscqsw_zc_zj" jdbcType="DECIMAL"/>
        <result property="kyhdfRldlZxZj" column="kyhdf_rldl_zx_zj" jdbcType="DECIMAL"/>
        <result property="kyhdfRldlZcZj" column="kyhdf_rldl_zc_zj" jdbcType="DECIMAL"/>
        <result property="kyhdfClsyZxZj" column="kyhdf_clsy_zx_zj" jdbcType="DECIMAL"/>
        <result property="kyhdfClsyZcZj" column="kyhdf_clsy_zc_zj" jdbcType="DECIMAL"/>
        <result property="kyfwfZxZj" column="kyfwf_zx_zj" jdbcType="DECIMAL"/>
        <result property="kyfwfZcZj" column="kyfwf_zc_zj" jdbcType="DECIMAL"/>
        <result property="kyfwfZjzxZxZj" column="kyfwf_zjzx_zx_zj" jdbcType="DECIMAL"/>
        <result property="kyfwfZjzxZcZj" column="kyfwf_zjzx_zc_zj" jdbcType="DECIMAL"/>
        <result property="kyfwfClZxZj" column="kyfwf_cl_zx_zj" jdbcType="DECIMAL"/>
        <result property="kyfwfClZcZj" column="kyfwf_cl_zc_zj" jdbcType="DECIMAL"/>
        <result property="kyfwfHyhwZxZj" column="kyfwf_hyhw_zx_zj" jdbcType="DECIMAL"/>
        <result property="kyfwfHyhwZcZj" column="kyfwf_hyhw_zc_zj" jdbcType="DECIMAL"/>
        <result property="kyfwfGjhzjlZxZj" column="kyfwf_gjhzjl_zx_zj" jdbcType="DECIMAL"/>
        <result property="kyfwfGjhzjlZcZj" column="kyfwf_gjhzjl_zc_zj" jdbcType="DECIMAL"/>
        <result property="kyfwfGnxzZxZj" column="kyfwf_gnxz_zx_zj" jdbcType="DECIMAL"/>
        <result property="kyfwfGnxzZcZj" column="kyfwf_gnxz_zc_zj" jdbcType="DECIMAL"/>
        <result property="ryhlwbzfZxZj" column="ryhlwbzf_zx_zj" jdbcType="DECIMAL"/>
        <result property="ryhlwbzfZcZj" column="ryhlwbzf_zc_zj" jdbcType="DECIMAL"/>
        <result property="ryhlwbzfRylwZxZj" column="ryhlwbzf_rylw_zx_zj" jdbcType="DECIMAL"/>
        <result property="ryhlwbzfRylwZcZj" column="ryhlwbzf_rylw_zc_zj" jdbcType="DECIMAL"/>
        <result property="jxzcZxZj" column="jxzc_zx_zj" jdbcType="DECIMAL"/>
        <result property="jxzcZcZj" column="jxzc_zc_zj" jdbcType="DECIMAL"/>
        <result property="othersZx" column="others_zx" jdbcType="DECIMAL"/>
        <result property="othersZc" column="others_zc" jdbcType="DECIMAL"/>
        <result property="jflyZx" column="jfly_zx" jdbcType="DECIMAL"/>
        <result property="jflyZc" column="jfly_zc" jdbcType="DECIMAL"/>
        <result property="jflyQtczbkZc" column="jfly_qtczbk_zc" jdbcType="DECIMAL"/>
        <result property="jflyDwzyhbzjZc" column="jfly_dwzyhbzj_zc" jdbcType="DECIMAL"/>
        <result property="jflyQtzjZc" column="jfly_qtzj_zc" jdbcType="DECIMAL"/>
        <result property="sbfZxJj" column="sbf_zx_jj" jdbcType="DECIMAL"/>
        <result property="sbfZcJj" column="sbf_zc_jj" jdbcType="DECIMAL"/>
        <result property="sbfGzsbZxJj" column="sbf_gzsb_zx_jj" jdbcType="DECIMAL"/>
        <result property="sbfGzsbZcJj" column="sbf_gzsb_zc_jj" jdbcType="DECIMAL"/>
        <result property="sbfSzsbZxJj" column="sbf_szsb_zx_jj" jdbcType="DECIMAL"/>
        <result property="sbfSzsbZcJj" column="sbf_szsb_zc_jj" jdbcType="DECIMAL"/>
        <result property="sbfSbsjgzZxJj" column="sbf_sbsjgz_zx_jj" jdbcType="DECIMAL"/>
        <result property="sbfSbsjgzZcJj" column="sbf_sbsjgz_zc_jj" jdbcType="DECIMAL"/>
        <result property="sbfSbzlZxJj" column="sbf_sbzl_zx_jj" jdbcType="DECIMAL"/>
        <result property="sbfSbzlZcJj" column="sbf_sbzl_zc_jj" jdbcType="DECIMAL"/>
        <result property="lwfZxJj" column="lwf_zx_jj" jdbcType="DECIMAL"/>
        <result property="lwfZcJj" column="lwf_zc_jj" jdbcType="DECIMAL"/>
        <result property="lwfZjzxfZxJj" column="lwf_zjzxf_zx_jj" jdbcType="DECIMAL"/>
        <result property="lwfZjzxfZcJj" column="lwf_zjzxf_zc_jj" jdbcType="DECIMAL"/>
        <result property="lwfRylwfZxJj" column="lwf_rylwf_zx_jj" jdbcType="DECIMAL"/>
        <result property="lwfRylwfZcJj" column="lwf_rylwf_zc_jj" jdbcType="DECIMAL"/>
        <result property="clfZxJj" column="clf_zx_jj" jdbcType="DECIMAL"/>
        <result property="clfZcJj" column="clf_zc_jj" jdbcType="DECIMAL"/>
        <result property="clfClfZxJj" column="clf_clf_zx_jj" jdbcType="DECIMAL"/>
        <result property="clfClfZcJj" column="clf_clf_zc_jj" jdbcType="DECIMAL"/>
        <result property="kyhdfZxJj" column="kyhdf_zx_jj" jdbcType="DECIMAL"/>
        <result property="kyhdfZcJj" column="kyhdf_zc_jj" jdbcType="DECIMAL"/>
        <result property="kyhdfZlZxJj" column="kyhdf_zl_zx_jj" jdbcType="DECIMAL"/>
        <result property="kyhdfZlZcJj" column="kyhdf_zl_zc_jj" jdbcType="DECIMAL"/>
        <result property="kyhdfCshyjgZxJj" column="kyhdf_cshyjg_zx_jj" jdbcType="DECIMAL"/>
        <result property="kyhdfCshyjgZcJj" column="kyhdf_cshyjg_zc_jj" jdbcType="DECIMAL"/>
        <result property="kyhdfBgZxJj" column="kyhdf_bg_zx_jj" jdbcType="DECIMAL"/>
        <result property="kyhdfBgZcJj" column="kyhdf_bg_zc_jj" jdbcType="DECIMAL"/>
        <result property="kyhdfSjybcjZxJj" column="kyhdf_sjybcj_zx_jj" jdbcType="DECIMAL"/>
        <result property="kyhdfSjybcjZcJj" column="kyhdf_sjybcj_zc_jj" jdbcType="DECIMAL"/>
        <result property="kyhdfYscbZxJj" column="kyhdf_yscb_zx_jj" jdbcType="DECIMAL"/>
        <result property="kyhdfYscbZcJj" column="kyhdf_yscb_zc_jj" jdbcType="DECIMAL"/>
        <result property="kyhdfZscqswZxJj" column="kyhdf_zscqsw_zx_jj" jdbcType="DECIMAL"/>
        <result property="kyhdfZscqswZcJj" column="kyhdf_zscqsw_zc_jj" jdbcType="DECIMAL"/>
        <result property="kyhdfRldlZxJj" column="kyhdf_rldl_zx_jj" jdbcType="DECIMAL"/>
        <result property="kyhdfRldlZcJj" column="kyhdf_rldl_zc_jj" jdbcType="DECIMAL"/>
        <result property="kyhdfClsyZxJj" column="kyhdf_clsy_zx_jj" jdbcType="DECIMAL"/>
        <result property="kyhdfClsyZcJj" column="kyhdf_clsy_zc_jj" jdbcType="DECIMAL"/>
        <result property="kyfwfZxJj" column="kyfwf_zx_jj" jdbcType="DECIMAL"/>
        <result property="kyfwfZcJj" column="kyfwf_zc_jj" jdbcType="DECIMAL"/>
        <result property="kyfwfZjzxZxJj" column="kyfwf_zjzx_zx_jj" jdbcType="DECIMAL"/>
        <result property="kyfwfZjzxZcJj" column="kyfwf_zjzx_zc_jj" jdbcType="DECIMAL"/>
        <result property="kyfwfClZxJj" column="kyfwf_cl_zx_jj" jdbcType="DECIMAL"/>
        <result property="kyfwfClZcJj" column="kyfwf_cl_zc_jj" jdbcType="DECIMAL"/>
        <result property="kyfwfHyhwZxJj" column="kyfwf_hyhw_zx_jj" jdbcType="DECIMAL"/>
        <result property="kyfwfHyhwZcJj" column="kyfwf_hyhw_zc_jj" jdbcType="DECIMAL"/>
        <result property="kyfwfGjhzjlZxJj" column="kyfwf_gjhzjl_zx_jj" jdbcType="DECIMAL"/>
        <result property="kyfwfGjhzjlZcJj" column="kyfwf_gjhzjl_zc_jj" jdbcType="DECIMAL"/>
        <result property="kyfwfGnxzZxJj" column="kyfwf_gnxz_zx_jj" jdbcType="DECIMAL"/>
        <result property="kyfwfGnxzZcJj" column="kyfwf_gnxz_zc_jj" jdbcType="DECIMAL"/>
        <result property="ryhlwbzfZxJj" column="ryhlwbzf_zx_jj" jdbcType="DECIMAL"/>
        <result property="ryhlwbzfZcJj" column="ryhlwbzf_zc_jj" jdbcType="DECIMAL"/>
        <result property="ryhlwbzfRylwZxJj" column="ryhlwbzf_rylw_zx_jj" jdbcType="DECIMAL"/>
        <result property="ryhlwbzfRylwZcJj" column="ryhlwbzf_rylw_zc_jj" jdbcType="DECIMAL"/>
        <result property="jxzcZxJj" column="jxzc_zx_jj" jdbcType="DECIMAL"/>
        <result property="jxzcZcJj" column="jxzc_zc_jj" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Base_Column_List">
        funds_id,project_id,total_funds_all,
        total_funds_zx,total_funds_zx_dk,zctz_done,
        zxtz_done,zc_gspt,zx_gslc,
        sbf_zx,total_funds_zx_zj,total_funds_zx_jj,
        total_funds_zc,sbf_zc,total_funds_zc_zj,
        total_funds_zc_jj,sbf_zx_zj,sbf_zc_zj,
        sbf_gzsb_zx_zj,sbf_gzsb_zc_zj,sbf_szsb_zx_zj,
        sbf_szsb_zc_zj,sbf_sbsjgz_zx_zj,sbf_sbsjgz_zc_zj,
        sbf_sbzl_zx_zj,sbf_sbzl_zc_zj,ywf_zx_zj,
        ywf_zc_zj,ywf_clf_zx_zj,ywf_clf_zc_zj,
        ywf_zlf_zx_zj,ywf_zlf_zc_zj,ywf_sjybcjf_zx_zj,
        ywf_sjybcjf_zc_zj,ywf_cshyjgf_zx_zj,ywf_cshyjgf_zc_zj,
        ywf_rldlf_zx_zj,ywf_rldlf_zc_zj,ywf_bgf_zx_zj,
        ywf_bgf_zc_zj,ywf_yscbf_zx_zj,ywf_yscbf_zc_zj,
        ywf_zscqswf_zx_zj,ywf_zscqswf_zc_zj,ywf_clsyf_zx_zj,
        ywf_clsyf_zc_zj,ywf_chlf_zx_zj,ywf_chlf_zc_zj,
        ywf_hyhwf_zx_zj,ywf_hyhwf_zc_zj,ywf_gnxzf_zx_zj,
        ywf_gnxzf_zc_zj,ywf_gjhzjlf_zx_zj,ywf_gjhzjlf_zc_zj,
        ywf_hyclgjhzyjlf_zx_zj,ywf_hyclgjhzyjlf_zc_zj,ywf_hyclgjhzyjlf_hyf_zx_zj,
        ywf_hyclgjhzyjlf_hyf_zc_zj,ywf_hyclgjhzyjlf_clf_zx_zj,ywf_hyclgjhzyjlf_clf_zc_zj,
        ywf_hyclgjhzyjlf_gjhzf_zx_zj,ywf_hyclgjhzyjlf_gjhzf_zc_zj,ywf_cbwxxxcbzscqswf_zx_zj,
        ywf_cbwxxxcbzscqswf_zc_zj,ywf_cbwxxxcbzscqswf_zscqswf_zx_zj,ywf_cbwxxxcbzscqswf_zscqswf_zc_zj,
        ywf_cbwxxxcbzscqswf_ysdyzzf_zx_zj,ywf_cbwxxxcbzscqswf_ysdyzzf_zc_zj,ywf_cbwxxxcbzscqswf_wxsjkf_zx_zj,
        ywf_cbwxxxcbzscqswf_wxsjkf_zc_zj,ywf_cbwxxxcbzscqswf_xxcbf_zx_zj,ywf_cbwxxxcbzscqswf_xxcbf_zc_zj,
        lwf_zx_zj,lwf_zc_zj,lwf_zjzxf_zx_zj,
        lwf_zjzxf_zc_zj,lwf_rylwf_zx_zj,lwf_rylwf_zc_zj,
        clf_zx_zj,clf_zc_zj,clf_clf_zx_zj,
        clf_clf_zc_zj,kyhdf_zx_zj,kyhdf_zc_zj,
        kyhdf_zl_zx_zj,kyhdf_zl_zc_zj,kyhdf_cshyjg_zx_zj,
        kyhdf_cshyjg_zc_zj,kyhdf_bg_zx_zj,kyhdf_bg_zc_zj,
        kyhdf_sjybcj_zx_zj,kyhdf_sjybcj_zc_zj,kyhdf_yscb_zx_zj,
        kyhdf_yscb_zc_zj,kyhdf_zscqsw_zx_zj,kyhdf_zscqsw_zc_zj,
        kyhdf_rldl_zx_zj,kyhdf_rldl_zc_zj,kyhdf_clsy_zx_zj,
        kyhdf_clsy_zc_zj,kyfwf_zx_zj,kyfwf_zc_zj,
        kyfwf_zjzx_zx_zj,kyfwf_zjzx_zc_zj,kyfwf_cl_zx_zj,
        kyfwf_cl_zc_zj,kyfwf_hyhw_zx_zj,kyfwf_hyhw_zc_zj,
        kyfwf_gjhzjl_zx_zj,kyfwf_gjhzjl_zc_zj,kyfwf_gnxz_zx_zj,
        kyfwf_gnxz_zc_zj,ryhlwbzf_zx_zj,ryhlwbzf_zc_zj,
        ryhlwbzf_rylw_zx_zj,ryhlwbzf_rylw_zc_zj,jxzc_zx_zj,
        jxzc_zc_zj,others_zx,others_zc,
        jfly_zx,jfly_zc,jfly_qtczbk_zc,
        jfly_dwzyhbzj_zc,jfly_qtzj_zc,sbf_zx_jj,
        sbf_zc_jj,sbf_gzsb_zx_jj,sbf_gzsb_zc_jj,
        sbf_szsb_zx_jj,sbf_szsb_zc_jj,sbf_sbsjgz_zx_jj,
        sbf_sbsjgz_zc_jj,sbf_sbzl_zx_jj,sbf_sbzl_zc_jj,
        lwf_zx_jj,lwf_zc_jj,lwf_zjzxf_zx_jj,
        lwf_zjzxf_zc_jj,lwf_rylwf_zx_jj,lwf_rylwf_zc_jj,
        clf_zx_jj,clf_zc_jj,clf_clf_zx_jj,
        clf_clf_zc_jj,kyhdf_zx_jj,kyhdf_zc_jj,
        kyhdf_zl_zx_jj,kyhdf_zl_zc_jj,kyhdf_cshyjg_zx_jj,
        kyhdf_cshyjg_zc_jj,kyhdf_bg_zx_jj,kyhdf_bg_zc_jj,
        kyhdf_sjybcj_zx_jj,kyhdf_sjybcj_zc_jj,kyhdf_yscb_zx_jj,
        kyhdf_yscb_zc_jj,kyhdf_zscqsw_zx_jj,kyhdf_zscqsw_zc_jj,
        kyhdf_rldl_zx_jj,kyhdf_rldl_zc_jj,kyhdf_clsy_zx_jj,
        kyhdf_clsy_zc_jj,kyfwf_zx_jj,kyfwf_zc_jj,
        kyfwf_zjzx_zx_jj,kyfwf_zjzx_zc_jj,kyfwf_cl_zx_jj,
        kyfwf_cl_zc_jj,kyfwf_hyhw_zx_jj,kyfwf_hyhw_zc_jj,
        kyfwf_gjhzjl_zx_jj,kyfwf_gjhzjl_zc_jj,kyfwf_gnxz_zx_jj,
        kyfwf_gnxz_zc_jj,ryhlwbzf_zx_jj,ryhlwbzf_zc_jj,
        ryhlwbzf_rylw_zx_jj,ryhlwbzf_rylw_zc_jj,jxzc_zx_jj,
        jxzc_zc_jj
    </sql>
</mapper>
