<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.mapper.ProjectMilestoneMapper">

    <resultMap type="ProjectMilestone" id="ProjectMilestoneResult">
        <id property="milestoneId" column="milestone_id"/>
        <result property="projectId" column="project_id"/>
        <result property="milestoneTitle" column="milestone_title"/>
        <result property="milestoneRemark" column="milestone_remark"/>
        <result property="milestoneDate" column="milestone_date"/>
        <result property="milestoneCategoryId" column="milestone_category_id"/>
    </resultMap>

</mapper>
