<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.mapper.ProjectTargetMapper">

    <resultMap type="ProjectTarget" id="ProjectTargetResult">
        <id property="targetId" column="target_id"/>
        <result property="projectId" column="project_id"/>
        <result property="targetName" column="target_name"/>
        <result property="midtermTarget" column="target_remark"/>
        <result property="endTarget" column="target_remark"/>
    </resultMap>

</mapper>
