<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.mapper.ProjectBaseInfoMapper">

    <resultMap id="ProjectBaseInfoResult" type="com.ruoyi.project.domain.ProjectBaseInfo">
            <id property="projectId" column="project_id" jdbcType="BIGINT"/>
        <result property="leadingUnit" column="leading_unit" jdbcType="VARCHAR"/>
        <result property="assignedSubjectName" column="assigned_subject_name" jdbcType="VARCHAR"/>
        <result property="projectAssignmentSerialNo" column="project_assignment_serial_no" jdbcType="VARCHAR"/>
        <result property="projectSource" column="project_source" jdbcType="VARCHAR"/>
        <result property="projectLevel" column="project_level" jdbcType="CHAR"/>
        <result property="hasLeadingRole" column="has_leading_role" jdbcType="TINYINT"/>
        <result property="assignedSubjectSection" column="assigned_subject_section" jdbcType="VARCHAR"/>
        <result property="subjectAssignmentSerialNo" column="subject_assignment_serial_no" jdbcType="VARCHAR"/>
        <result property="projectEstablishTime" column="project_establish_time" jdbcType="DATE"/>
        <result property="projectScheduledCompletionTime" column="project_scheduled_completion_time" jdbcType="DATE"/>
        <result property="projectDuration" column="project_duration" jdbcType="INTEGER"/>
        <result property="projectDescription" column="project_description" jdbcType="VARCHAR"/>
        <result property="significanceAndNecessity" column="significance_and_necessity" jdbcType="VARCHAR"/>
        <result property="projectProgressStatus" column="project_progress_status" jdbcType="VARCHAR"/>
        <result property="completionProgress" column="completion_progress" jdbcType="VARCHAR"/>
        <result property="collaboratingUnit" column="collaborating_unit" jdbcType="VARCHAR"/>
        <result property="expertTeam" column="expert_team" jdbcType="VARCHAR"/>
        <result property="hasCooperativeUnit" column="has_cooperative_unit" jdbcType="TINYINT"/>
        <result property="awardDetails" column="award_details" jdbcType="VARCHAR"/>
        <result property="publicationDetails" column="publication_details" jdbcType="VARCHAR"/>
        <result property="patentDetails" column="patent_details" jdbcType="VARCHAR"/>
        <result property="softwareCopyrightDetails" column="software_copyright_details" jdbcType="VARCHAR"/>
        <result property="standardDetails" column="standard_details" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="deleted" column="deleted" jdbcType="TINYINT"/>
    </resultMap>
</mapper>
