<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.mapper.ProjectBaseInfoMapper">

    <resultMap id="ProjectBaseInfoResult" type="com.ruoyi.project.domain.ProjectBaseInfo">
            <id property="projectId" column="project_id" jdbcType="BIGINT"/>
            <result property="projectName" column="project_name" jdbcType="VARCHAR"/>
            <result property="projectManager" column="project_manager" jdbcType="VARCHAR"/>
            <result property="projectStatus" column="project_status" jdbcType="CHAR"/>
            <result property="projectInfo" column="project_info" jdbcType="VARCHAR"/>
            <result property="projectType" column="project_type" jdbcType="CHAR"/>
            <result property="establishTime" column="establish_time" jdbcType="DATE"/>
            <result property="midtermDate" column="midterm_date" jdbcType="DATE"/>
            <result property="completedDate" column="completed_date" jdbcType="DATE"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="deleted" column="deleted" jdbcType="INTEGER"/>
    </resultMap>
</mapper>
